__pycache__/
.build-python/
build/
dist/
/__pycache__
/build
/dist
/__pycache__
mekicopy_error.log
HYTrans.md
/MekiCopyRuntime/tcl8.6
/MekiCopyRuntime/tk8.6
webtrans.html
BetterCapture.md
/tmp_tk_probe_build
/tmp_tk_probe_dist
/tmp_tk_probe_spec
/detached_button_geometry.json
/detached_button_region.json
MekiAudioCapture.md
/dist-new
/models
/dist-full
/old-versions
/tests
/tests
/error_log
